@keyframes reveal {
    100% {
        opacity:1;
    }
}

@keyframes reveal--untranslate {
    100% {
        opacity:1;
        transform: translate(0,0);
    }
}

@keyframes reveal--unscale {
    100% {
        opacity:1;
        transform: scale(1);
    }
}

#header__name {
    opacity: 0;
    transform: translateY(-10px);
    animation: reveal--untranslate 1s forwards;
    animation-delay: 0.1s;
}
#themeToggle {
    transform: translateX(100px);
    animation: reveal--untranslate .5s forwards;
}

#intro__word {
    opacity: 0;
    animation: reveal .5s forwards;
    animation-delay: .3s;
}

#viewCV {
    opacity: 0;
    transform: translateX(-30px);
    animation: reveal--untranslate .5s forwards;
    animation-delay: 0.6s;
}

.scrollList {
    opacity: 0;
    transform: scaleY(0);
    animation: reveal--unscale .5s forwards;
    animation-delay: 0.9s;
}

.scrollList__title {
    opacity: 0;
    transform: translateY(-30px);
    animation: reveal--untranslate .5s forwards;
    animation-delay: 1.4s;
}

.scrollList__itemGroup a {
    opacity: 0;
	animation: reveal .5s forwards;
}

.scrollList__itemGroup a:nth-child(1) {animation-delay: 1.5s;}
.scrollList__itemGroup a:nth-child(2) {animation-delay: 1.6s;}
.scrollList__itemGroup a:nth-child(3) {animation-delay: 1.7s;}
.scrollList__itemGroup a:nth-child(4) {animation-delay: 1.8s;}
.scrollList__itemGroup a:nth-child(5) {animation-delay: 1.9s;}
.scrollList__itemGroup a:nth-child(6) {animation-delay: 2.0s;}
.scrollList__itemGroup a:nth-child(7) {animation-delay: 2.1s;}
.scrollList__itemGroup a:nth-child(8) {animation-delay: 2.2s;}
.scrollList__itemGroup a:nth-child(9) {animation-delay: 2.3s;}

#socials__title {
    opacity: 0;
	animation: reveal .5s forwards;
    animation-delay: 1.8s;
}

#socials__iconGroup a {
    opacity: 0;
    animation: reveal .5s forwards;
}
#socials__iconGroup a:nth-child(1) {animation-delay: 2.0s;}
#socials__iconGroup a:nth-child(2) {animation-delay: 2.1s;}
#socials__iconGroup a:nth-child(3) {animation-delay: 2.2s;}