body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

body.dark {
    background-color: rgb(12, 12, 12);
    color: #fff;
}

:root {
    /* --color-hl: #FF577F; */
    --color-hl: rgb(9, 108, 255);
    --color-hl-dark: rgb(255, 168, 97);
    --color-tag-bg: #cacaca2f;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

::selection      { background-color: rgba(88, 208, 255, 0.2); /* WebKit/Blink Browsers */ }
::-moz-selection { background-color: rgba(88, 208, 255, 0.2); /* Gecko Browsers */ }
body.dark ::selection      { background-color: rgba(255, 255, 255, 0.2); /* WebKit/Blink Browsers */ }
body.dark ::-moz-selection { background-color: rgba(255, 255, 255, 0.2); /* Gecko Browsers */ }

.scrollShow {
    opacity: 0;
    transition: 0.5s ease all;
    transform: translateY(-10px);
}

.scrollShow.show {
    opacity: 1;
    transform: none;
}

#themeToggle.scrollShow {
    transform: translateX(50px);
    transition-property: transform,opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
#themeToggle.scrollShow.show {
    transform: none;
}

#viewCV.scrollShow {
    transform: translateX(-10px);
    transition-property: transform,opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
#viewCV.scrollShow.show {
    transform: none;
}

#header {
    margin-top: 32px;
    text-align: center;
    font-size: 64px;
}

#themeToggle {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.07);
    color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    text-align: right;
    min-width: 60px;
    font-size: 12px;
    border-radius: 0 0 0 12px;
    cursor: pointer;
    transition: 0.1s ease all;
    z-index: 10;
}
#themeToggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
}
.dark #themeToggle {
    background-color: rgba(255, 255, 255, 0.07);
    color: rgba(255, 255, 255, 0.7);
}
.dark #themeToggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
}

#intro {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

#intro__word {
    padding: 20px 0;
}

@media (min-width: 800px) {
    #intro {
        margin-bottom: 16px;
    }

    #viewCV {
        position: relative;
        top: -72px;
        left: 320px;
    }
}

a {
    text-decoration: none;
}


.container {
    max-width: 1330px;
    margin: 50px auto;
    position: relative;
    font-size: 16px;
    padding: 0 10px;
}
@media (max-width: 1380px) {.container { max-width: 1060px;}}
@media (max-width: 1110px) {.container { max-width: 790px;}}

.projectTopBar {
    display: grid; 
    grid-template-columns: 1fr 115px;
    margin-bottom: 5px;
}
@media (max-width: 900px) {
    .projectTopBar {
        grid-template-columns: 1fr;
    }
}

#filterShowAll {
    padding: 5px 10px 5px 8px;
    border-left: 2px solid var(--color-hl);
}
body.dark #filterShowAll {
    border-left-color: var(--color-hl-dark);
}

.filterTag {
    display: inline-block;
    background-color: var(--color-tag-bg);
    color: #555;
    padding: 5px;
    padding-left: 8px;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
}
body.dark .filterTag {
    color: #fff;
}

.filterTag.active {
    background-color: var(--color-hl) !important;
    color: #fff;
}
body.dark .filterTag.active {
    background-color: var(--color-hl-dark) !important;
}

#projectShowCodeBtn {
    padding: 5px 10px 5px 8px;
    border-left: 2px solid var(--color-hl);
    max-width: 95px;
    background-color: var(--color-tag-bg);
    color: #555;
    margin-bottom: 4px;
    cursor: pointer;
}
body.dark #projectShowCodeBtn {
    color: #fff;
    border-left-color: var(--color-hl-dark);
}
#projectShowCodeBtn.active {
    background-color: var(--color-hl);
    color: #fff;
}
body.dark #projectShowCodeBtn.active {
    background-color: var(--color-hl-dark);
}

#projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
}

.projectItem * {
    pointer-events: none;
}

.projectThumbnail {
    width: 250px;
    height: 166px;
    vertical-align: bottom;
}

.projectName {
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}
body.dark .projectName {
    color: #fff;
}

.projectItem:hover .projectName {
    color: var(--color-hl);
}
body.dark .projectItem:hover .projectName {
    color: var(--color-hl-dark);
}

.projectTag {
    background-color: var(--color-tag-bg);
    color: #555;
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    margin-right: 3px;
    margin-top: 2px;
}
body.dark .projectTag {
    color: #fff;
}

.projectTag.active {
    background-color: var(--color-hl);
    color: #fff;
}
body.dark .projectTag.active {
    background-color: var(--color-hl-dark);
}

@media (max-width: 900px) {
    .projectItem {
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: 10px;
    }
    #projectContainer {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
    }
    .projectThumbnail {
        width: 150px;
        height: 100px;
    }
}

.projectThumbnailContainer {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.githubLinkStamp {
    position: absolute;
    padding: 7px; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    color: #fff; 
    background-color: #222; 
    text-align: center;
    font-size: 12px;
    opacity: 0;
    transition: 0.2s ease all;
    transform: translateY(30px);
}

.githubLinkStamp.active {
    opacity: 0.7;
    transform: none;
}



#socials {
    text-align: center;
}

#socials__title {
    margin-bottom: 24px;
}

.icon {
    height: 40px;
}
.dark .icon {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
}

.icon-href {
    font-size: 12px;
    color: rgba(0,0,0,1);
    line-height: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 8px;
    border-radius: 10px;
    margin: 5px 0px;
    transition: 0.2s all ease;
    text-align: center;
    width: 70px;
}

.icon-href:hover {
    background-color: rgba(0,0,0,0.05);
    color: rgba(0,0,0,1);
}
.dark .icon-href:hover {
    background-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,1);
}

.icon-href:hover .icon {
    transform: translateY(-5px);
}

@media (min-width: 800px) {
    #socials {
        margin-top: 32px;
    }

    .icon-href {
        color: rgba(0,0,0,0);
    }
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 16px 0 12px 0;
    color: #888;
    margin-top: 48px;
}

.attribution {
    margin-top: 20px;
}
.attribution a {
    color: var(--color-hl);
}
body.dark .attribution a {
    color: var(--color-hl-dark);
}

.roundButton {
    display: block;
    width: 96px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 26px;
    border: 2px solid var(--color-hl);
    color: var(--color-hl);
    transition: 0.1s ease all;
    font-weight: bold;
}
.dark .roundButton {
    border: 2px solid var(--color-hl-dark);
    color: rgb(255, 255, 255);
}

.roundButton:hover {
    background-color: var(--color-hl);
    color: #fff;
}
.dark .roundButton:hover {
    background-color: var(--color-hl-dark);
    color: #000;
}

.roundButton__word {
    position: relative;
    top: 1px;
    padding-left: 10px;
}

.arrow {
    border: solid var(--color-hl);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: 0.1s all ease;
}
.dark .arrow {
    border-color: rgb(255,255,255);
}

.roundButton:hover .arrow {
    border-color: #fff;
}
.dark .roundButton:hover .arrow {
    border-color: #000;
}

.right {transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.left {transform: rotate(135deg); -webkit-transform: rotate(135deg);}
.up {transform: rotate(-135deg); -webkit-transform: rotate(-135deg);}
.down {transform: rotate(45deg); -webkit-transform: rotate(45deg);}