body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

body.dark {
    background: rgb(12, 12, 12);
    color: #fff;
}

::selection      { background: rgba(255, 88, 88, 0.2); /* WebKit/Blink Browsers */ }
::-moz-selection { background: rgba(255, 88, 88, 0.2); /* Gecko Browsers */ }
body.dark ::selection      { background: rgba(255, 255, 255, 0.2); /* WebKit/Blink Browsers */ }
body.dark ::-moz-selection { background: rgba(255, 255, 255, 0.2); /* Gecko Browsers */ }

#header {
    margin-top: 32px;
    text-align: center;
    font-size: 64px;
}

#themeToggle {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    opacity: 0.7;
    padding: 10px 20px;
    text-align: right;
    min-width: 60px;
    font-size: 12px;
    border-radius: 0 0 0 12px;
    cursor: pointer;
    transition: 0.1s ease all;
}
#themeToggle:hover {
    opacity: 1;
}
.dark #themeToggle {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
}

#intro {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 48px;
}

#intro__word {
    height: 104px;
}

@media (min-width: 800px) {
    #intro {
        margin-bottom: 16px;
    }

    #viewCV {
        position: relative;
        top: -72px;
        left: 320px;
    }
}

.scrollList {
    position: relative;
    text-align: center;
    margin-bottom: 48px;
    /* background-color: rgb(255, 249, 236); */
    background-color: rgb(255, 235, 193);
    overflow-y: hidden;
}
.dark .scrollList {
    background-color: rgb(31, 34, 36);
}

.scrollList__title {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    position: relative;
    opacity: 0.7;
    padding: 10px 20px;
    border-radius: 0 0 15px 15px;
}
.dark .scrollList__title {
    background-color: rgba(164, 214, 255, 0.1);
    opacity: 1;
}

.scrollList__Arrow {
    position: absolute;
    top: 17px;
    padding: 6px !important;
    cursor: pointer;
    border-width: 0 4px 4px 0 !important;
    border-color: rgba(0, 0, 0, 0.7) !important;
}
.dark .scrollList__Arrow {
    border-color: rgba(255, 255, 255, 0.7) !important;
}
.scrollList__Arrow.ArrowDisabled {
    opacity: 0.3;
    cursor: default;
}
#scrollList__leftArrow {
    left: 15px;
}
#scrollList__rightArrow {
    right: 15px;
}

.scrollList__itemGroup {
    padding: 20px 10px;
    overflow: auto;
    white-space: nowrap;
    cursor: grab;
}
.scrollList__itemGroup:active {
    cursor: grabbing;
}
@media (min-width: 800px) {
    .scrollList__itemGroup {
        padding: 40px 20px;
    }
}

/* if dragging, then prevent anchor click */
.dragstart a {
    pointer-events: none;
} 
a {
    text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollList__itemGroup::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollList__itemGroup {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollList__item {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 150px;
    white-space:normal;
    font-size: 15px;
    vertical-align: top;
}

.scrollList__item__icon {
    height: 100px;
    border-radius: 5px;
    transition: 0.15s ease all;
}

@media (min-width: 800px) {
    .scrollList__item {
        width: 240px;
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .scrollList__item__icon {
        height: 160px;
    }
}

.scrollList__item:hover .scrollList__item__icon {
    transform: translateY(-8px);
}

.scrollList__item__word {
    color: #000;
    text-align: center;
}
.dark .scrollList__item__word {
    color: #fff;
}


#socials {
    text-align: center;
}

#socials__title {
    margin-bottom: 24px;
}

.icon {
    height: 40px;
}
.dark .icon {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
}

.icon-href {
    font-size: 12px;
    color: rgba(0,0,0,1);
    line-height: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 8px;
    border-radius: 10px;
    margin: 5px 0px;
    transition: 0.2s all ease;
    text-align: center;
    width: 70px;
}

.icon-href:hover {
    background-color: rgba(0,0,0,0.05);
    color: rgba(0,0,0,1);
}
.dark .icon-href:hover {
    background-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,1);
}

.icon-href:hover .icon {
    transform: translateY(-5px);
}

@media (min-width: 800px) {
    #socials {
        margin-top: 32px;
    }

    .icon-href {
        color: rgba(0,0,0,0);
    }
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 16px 0 12px 0;
    color: #888;
    margin-top: 48px;
}

.roundButton {
    display: block;
    width: 96px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 26px;
    border: 2px solid rgb(9, 108, 255);
    color: rgb(9, 108, 255);
    transition: 0.1s all ease;
    font-weight: bold;
}
.dark .roundButton {
    border: 2px solid rgb(255, 168, 97);
    color: rgb(255, 255, 255);
}

.roundButton:hover {
    background-color: rgb(9, 108, 255);
    color: #fff;
}
.dark .roundButton:hover {
    background-color: rgb(255, 168, 97);
    color: #000;
}

.roundButton__word {
    position: relative;
    top: 1px;
    padding-left: 10px;
}

.arrow {
    border: solid rgb(9, 108, 255);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: 0.1s all ease;
}
.dark .arrow {
    border-color: rgb(255,255,255);
}

.roundButton:hover .arrow {
    border-color: #fff;
}
.dark .roundButton:hover .arrow {
    border-color: #000;
}

.right {transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.left {transform: rotate(135deg); -webkit-transform: rotate(135deg);}
.up {transform: rotate(-135deg); -webkit-transform: rotate(-135deg);}
.down {transform: rotate(45deg); -webkit-transform: rotate(45deg);}