/* Global */
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

::-moz-selection { color: #fff; background: #5d5e5f;}
     ::selection { color: #fff; background: #5d5e5f;}

.container {
  padding: 0 50px;
  margin: 0 auto;
}

.section--boxed {
  margin: 20px;
  border-radius: 10px;
}

.section--boxed .container {
  padding: 0 30px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}


.section {
  padding-top: 1px;
  padding-bottom: 100px;
}

.section__title {
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-size: 42px;
  margin: 30px auto;
  font-weight: 500;
  color: #222;
}

a {
  text-decoration: none;
}
/* END Global */

#splash {
  height: 100vh;
  background-size: cover;
  position: relative;
  margin: 20px;
}

#splash__bg {
  position: absolute;
  top: 0;
  border-radius: 10px;
}

#splash__container {
  font-size: 42px;
  color: #FFE588;
  height: 66px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  font-family: 'Saira', sans-serif;
  cursor: default;
}

#splash .i {
  display: inline-block;
  position: relative;
  bottom: 1.2rem;
}

#splash .text-carousel {
  display: inline-block;
  height: 100%;
  overflow: hidden;
}

#splash .text-carousel__content {
  animation: carousel 5s infinite;
  position: relative;
}
@keyframes carousel {
   0%, 15% { bottom: 0;}
  25%, 40% { bottom: 100%;}
  50%, 65% { bottom: 200%;}
  75%, 90% { bottom: 300%;}
      100% { bottom: 400%;}
}

#workflow {
  padding-bottom: 30px;
}

.workflow__item {
  text-align: center;
  margin-bottom: 25px;
}

.workflow__item__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 54px;
}

.workflow__item__graphic {
  width: 150px;
}

.workflow__item__detail {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 18px;
  margin: 0 auto;
}

#portfolio {
  background: #fea;
}

.pp__item {
  display: inline-block;
}

.pp__item__graphic {
  border-radius: 5px;
  transition: all 0.2s ease;
}

.pp__item:hover .pp__item__graphic {
  transform: scale(1.05);
}

.pp__item__title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #666;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

#elements {
  background: #333;
  color: #fff;
}

#elements .section__title {
  color: #fff;
}

footer {
  background: #fafafa;
  border-top: 1px solid #eee;
  color: #000;
  text-align: center;
  font-size: 20px;
  height: 80px;
  font-family: 'Saira', sans-serif;
  font-weight: 200;
  cursor: default;
}

footer a {
  color: #333;
  padding: 5px 15px;
  font-weight: 300;
}

footer a:hover {
  background: #eee;
}

footer .text-carousel {
  line-height: 80px;  /* match parent height */
  height: 100%;
  overflow: hidden;
}

footer .text-carousel__content {
  transition: all 0.3s ease;
  transform: translateY(-50%);
}

footer:hover .text-carousel__content {
  transform: translateY(0);
}
