.reveal {
  opacity: 1 !important;
  transform: scale(1) !important;
}

#workflow .section__title {
  opacity: 0;
  transform: scale(0.8) translateY(30px);
  transition: all 0.5s ease;
}

.workflow__item {
  opacity: 0;
  transform: scale(0.8) translateY(10px);
  transition: all 0.3s ease;
}

#portfolio {
  opacity: 0;
  transform: scale(0.8) translateY(30px);
  transition: all 0.5s ease;
}

#pp .section__title {
  opacity: 0;
  transform: scale(0.8) translateY(30px);
  transition: all 0.5s ease;
}

.pp__item {
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#elements {
  opacity: 0;
  transform: scale(0.8) translateY(30px);
  transition: all 0.5s ease;
}
